/* Estilização do cabeçalho */
header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Estilização da barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    border-radius: 10px;
}

/* Estilização do logotipo */
.logo img {
    width: auto;
    max-height: 48px;
}

/* Estilização dos links de navegação */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaçamento entre os itens do menu */
    color: white;
}

/* Estilização dos itens de lista nos links de navegação */
.nav-links li {
    padding: 10px 0;
}

/* Estilização dos links dentro da barra de navegação */
.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Estilização dos links ao passar o mouse */
.nav-links a:hover {
    color: #4CAF50;
}

/* Estilização do contêiner do logotipo */
.logo-container {
    /* Alterado: novo estilo para o contêiner da logo */
    position: relative;
}

/* Estilização da imagem na seção de herói */
.hero {
    position: relative;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}

/* Estilização do contêiner dos slides */
.slide-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

/* Estilização dos slides */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Estilização das imagens dentro dos slides */
.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilização do texto na seção de herói */
.hero-txt {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
    color: #fff;
    z-index: 1;
}

/* Estilização do contêiner de busca */
.search-container {
    position: relative;
    width: 500px;
}

/* Estilização do campo de busca */
.search-input {
    width: 100%;
    padding: 10px 20px 10px 40px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    outline: none;
}

/* Estilização do placeholder no campo de busca */
.search-input::placeholder {
    color: #9e9e9e;
}

/* Estilização do ícone de busca */
.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: #9e9e9e;
}

/* Estilização da seção de favoritos */
.favorites {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

/* Estilização do título na seção de favoritos */
.favorites h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

/* Estilização dos locais */
.locations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Estilização de cada local */
.location {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 40px);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito ao passar o mouse sobre um local */
.location:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilização do título dentro de cada local */
.location h3 {
    margin: 10px 0;
    color: #333;
}

/* Estilização do parágrafo dentro de cada local */
.location p {
    color: #666;
}

/* Estilização da animação de fade */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Animação de fade */
@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

/* Estilização do contêiner de registro */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    /* Ajusta a altura para preencher a tela, menos a altura do header */
    background-image: url('images/register-bg.jpg');
    /* Substitua pela URL da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    padding: 20px;
}

/* Estilização da caixa de registro */
.register-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Estilização do título na caixa de registro */
.register-box h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

/* Estilização do formulário de registro */
.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Estilização dos rótulos no formulário de registro */
.register-form label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

/* Estilização dos campos de entrada no formulário de registro */
.register-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilização do botão no formulário de registro */
.register-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

/* Estilização do botão ao passar o mouse */
.register-form button:hover {
    background-color: #45a049;
}

/* Estilos Responsivos para telas pequenas */
@media (max-width: 600px) {
    .register-box {
        padding: 20px;
    }

    .register-form label,
    .register-form input,
    .register-form button {
        font-size: 14px;
    }
}

/* Estilização geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDEBE3;
    color: #333;
}

/* Estilização do contêiner principal */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Estilização do título */
h2 {
    color: #2e7d32;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilização das cartas */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilização de cada carta */
.card {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 22%;
    transition: transform 0.3s ease;
    overflow: hidden;
}

/* Efeito ao passar o mouse sobre uma carta */
.card:hover {
    transform: scale(1.05);
}

/* Estilização das imagens dentro das cartas */
.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: transform 0.3s ease;
}

/* Efeito ao passar o mouse sobre a imagem de uma carta */
.card:hover img {
    transform: scale(1.1);
}

/* Estilização do ícone de favorito */
.favorite-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 80px; 
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Estilização do ícone dentro do botão de favorito */
.favorite-icon i {
    color: #7bb35d;
    font-size: 1.5em;

}

/* Cor do ícone quando o favorito está ativo */
.favorite-icon.active i {
    color: #e3535c;
}

/* Estilização do conteúdo dentro da carta */
.card-content {
    padding: 15px;
}

/* Estilização do título dentro da carta */
.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #2e7d32;
    cursor: pointer;
}

/* Estilização do parágrafo dentro da carta */
.card-content p {
    margin: 5px 0;
    color: #666;
}

/* Estilização dos links dentro da carta */
.card-content a {
    text-decoration: none;
    color: inherit;
}

/* Estilização da seção trail-hero */
.trail-hero {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Estilização da imagem na seção trail-hero */
.trail-hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilização do texto na seção trail-hero */
.trail-hero-txt {
    position: absolute;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    
}

/* Estilização do título na seção trail-hero */
.trail-hero-txt h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Estilização do parágrafo na seção trail-hero */
.trail-hero-txt p {
    font-size: 1.2rem;
}

/* Estilização dos detalhes da trilha */
.trail-details {
    padding: 20px;
}

/* Estilização do título na seção de detalhes da trilha */
.trail-details h2 {
    font-size: 2em;
    color: #2e7d32;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilização dos subtítulos na seção de detalhes da trilha */
.trail-details h3 {
    font-size: 1.5em;
    color: #2e7d32;
    margin-top: 20px;
}

/* Estilização dos parágrafos na seção de detalhes da trilha */
.trail-details p {
    color: #666;
    font-size: 1em;
    line-height: 1.6;
}

/* Estilização das listas na seção de detalhes da trilha */
.trail-details ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #666;
}

/* Estilização dos itens de lista na seção de detalhes da trilha */
.trail-details ul li {
    margin-bottom: 5px;
    font-size: 1em;
}

/* Estilos Responsivos para telas pequenas */
@media (max-width: 600px) {
    .trail-hero {
        height: 200px;
    }

    .trail-hero-txt h1 {
        font-size: 1.5rem;
    }

    .trail-hero-txt p {
        font-size: 1rem;
    }

    .trail-details h2 {
        font-size: 1.5em;
    }

    .trail-details h3 {
        font-size: 1.2em;
    }
}

/* Estilização do cabeçalho da trilha */
.trail-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

/* Estilização da imagem na seção de cabeçalho da trilha */
.trail-header-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(70%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Estilização do conteúdo dentro do cabeçalho da trilha */
.trail-header-content {
    z-index: 1;
}

/* Estilização das informações da trilha */
.trail-info {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    font-size: 1.2em;
}

/* Estilização dos botões na seção de trilha */
.trail-buttons button {
    background: #4CAF50;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

/* Estilização dos botões ao passar o mouse */
.trail-buttons button:hover {
    background: #45a049;
}

/* Estilização dos detalhes da trilha */
.trail-details {
    padding: 20px;
}

/* Estilização do parágrafo na seção de resumo da trilha */
.trail-summary p,
.trail-description p {
    font-size: 1.1em;
}

/* Estilização do botão de visualização */
.preview-button {
    background: #4CAF50;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    transition: background 0.3s ease;
    display: block;
    width: 100%;
    text-align: center;
}

/* Estilização do botão de visualização ao passar o mouse */
.preview-button:hover {
    background: #45a049;
}

/* Estilização dos atributos da trilha */
.trail-attributes button {
    background: #EDEBE3;
    border: 1px solid #CCC;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

/* Estilização dos botões de atributos da trilha ao passar o mouse */
.trail-attributes button:hover {
    background: #DDD;
}

/* Estilização do mapa da trilha */
.trail-map {
    margin: 20px 0;
    text-align: center;
}

/* Estilização das imagens do mapa da trilha */
.trail-map img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

/* Estilização das trilhas próximas */
.nearby-trails {
    margin: 20px 0;
}

/* Estilização do título na seção de trilhas próximas */
.nearby-trails h2 {
    font-size: 1.5em;
    color: #2e7d32;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilização do cartão de trilha */
.trail-card {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 10px;
    overflow: hidden;
}

/* Estilização da imagem dentro do cartão de trilha */
.trail-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Estilização do conteúdo dentro do cartão de trilha */
.trail-card-content {
    padding: 10px;
    flex-grow: 1;
}

/* Estilização do título dentro do cartão de trilha */
.trail-card-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #2e7d32;
}

/* Estilização do parágrafo dentro do cartão de trilha */
.trail-card-content p {
    margin: 5px 0;
    color: #666;
}

/* Estilos Responsivos para telas pequenas */
@media (max-width: 600px) {
    .trail-hero {
        height: 200px;
    }

    .trail-hero-txt h1 {
        font-size: 1.5rem;
    }

    .trail-hero-txt p {
        font-size: 1rem;
    }

    .trail-details h2 {
        font-size: 1.5em;
    }

    .trail-details h3 {
        font-size: 1.2em;
    }

    .trail-header-img {
        height: 200px;
    }

    .trail-info {
        flex-direction: column;
        font-size: 1em;
    }

    .trail-buttons button {
        padding: 8px 15px;
        font-size: 0.9em;
    }

    .preview-button {
        padding: 8px 15px;
        font-size: 0.9em;
    }

    .trail-attributes button {
        padding: 8px 15px;
        font-size: 0.9em;
    }

    .trail-map img {
        width: 100%;
    }

    .trail-card {
        flex-direction: column;
    }

    .trail-card img {
        width: 100%;
        height: auto;
    }

    .trail-card-content {
        padding: 10px;
    }
}

/* CSS DA PAGINA LAGOA DA MEDITAÇÃO */

/* Estilização da imagem da trilha */
.trail-hero-img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilização do container da imagem e texto da trilha */
.trail-hero {
    text-align: center;
    margin: 20px auto;
}

/* Estilização do texto sobre a trilha */
.trail-hero-txt {
    margin-top: 15px;
}

/* Estilização do título da trilha */
.trail-hero-txt h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

/* Estilização da descrição da trilha */
.trail-hero-txt p {
    font-size: 1.2em;
    margin: 5px 0;
    color: #666;
}

/* Estilização dos detalhes da trilha */
.container.trail-details {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
}

/* Estilização do título dos detalhes da trilha */
.container.trail-details h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

/* Estilização do texto dos detalhes da trilha */
.container.trail-details p {
    font-size: 1em;
    color: #555;
}

/* Estilização dos atributos da trilha */
.container.trail-details ul {
    list-style-type: none;
    padding: 0;
}

.container.trail-details ul li {
    font-size: 1em;
    margin-bottom: 5px;
    color: #444;
}

/* Estilização Responsiva para telas menores */
@media (max-width: 768px) {
    /* Ajuste do tamanho da barra de navegação */
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    /* Logo menor para ajustar em telas pequenas */
    .logo img {
        max-height: 40px; /* Diminuir o tamanho da logo */
    }

    /* Estilização da barra de navegação */
    .nav-links {
        flex-direction: column;
        gap: 10px; /* Menos espaço entre os itens */
    }

    /* Ajuste na altura do hero em telas menores */
    .hero {
        height: 400px;
    }

    /* Ajuste do tamanho da caixa de busca */
    .search-container {
        width: 100%;
        padding: 0 15px; /* Menor margem lateral */
    }

    /* Texto do hero menor */
    .hero-txt {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    /* Ajuste maior para telas pequenas */
    .navbar {
        padding: 10px;
    }

    /* Ajuste nos cards de trilhas */
    .cards {
        flex-direction: column; /* Uma coluna em telas pequenas */
    }

    .card {
        width: 100%; /* Cartões ocupam toda a largura em dispositivos pequenos */
        margin-bottom: 20px;
    }

    /* Ajuste no contêiner de busca */
    .search-container {
        width: 100%;
    }

    /* Ajuste na altura do hero em telas ainda menores */
    .hero {
        height: 350px;
    }
    
    /* Texto do hero ajustado para ficar menor */
    .hero-txt {
        font-size: 1.8rem;
    }

    /* Diminuir tamanho da caixa de favoritos */
    .favorites h2 {
        font-size: 1.8em;
    }
    
    /* Ajuste de espaçamento no conteúdo dos cards */
    .card-content h3 {
        font-size: 1.1em;
    }

    .card-content p {
        font-size: 0.9em;
    }
}



